---
BasedOnStyle: LLVM
AlignConsecutiveAssignments: 'false'
AlignConsecutiveDeclarations: 'false'
AlignOperands: 'true'
AlignTrailingComments: 'false'
AlwaysBreakTemplateDeclarations: 'Yes'
BreakBeforeBraces: Custom
BreakConstructorInitializers: AfterColon
ColumnLimit: '120'
IncludeIsMainRegex: '([-_](test|unittest))?$'
IndentWidth: '4'
MaxEmptyLinesToKeep: '2'
NamespaceIndentation: All
TabWidth: '4'

...
