---
BasedOnStyle: Microsoft
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AllowShortBlocksOnASingleLine: 'false'
Cpp11BracedListStyle: 'true'
IncludeBlocks: Regroup
Language: Cpp
PointerAlignment: Right
SortIncludes: 'true'
SortUsingDeclarations: 'true'
Standard: Cpp11
UseTab: Never

...
