[submodule "spdlog"]
	path = spdlog
	url = ../../gabime/spdlog.git
[submodule "args"]
	path = args
	url = ../../Taywee/args.git
[submodule "nlohmann_json"]
	path = nlohmann_json
	url = ../../nlohmann/json.git
[submodule "crossguid"]
	path = crossguid
	url = ../../graeme-hill/crossguid.git
[submodule "dynamic_bitset"]
	path = dynamic_bitset
	url = ../../pinam45/dynamic_bitset.git
